.flash-box {
  background-color: $pure_blue;
  color: $base_color;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
}

#wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

.chat-side {
  width: 300px;
  color: $base_color;
  float: left;
  margin-bottom: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: $sidecolor;
}

.side-header {
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  width: 100%;
  font-weight: bold;
  margin: 0;
  box-sizing: border-box;

  &__user-name {
    font-size: em(16);
  }
}

.user-menu {
  display: flex;
  list-style: none;
  cursor: pointer;

  &__edit-user {
    display: list-item;
  
    .i {
      content: '\f044';
      font-family: "FontAwesome 5 Free";
      font-weight: 900;
    }
  }

  &__new-group {

    .i {
      content: '\f013';
      font-family: "FontAwesome 5 Free";
      font-weight: 900;
    }
  }
}


.groups {
  background-color: $sidecolor;
  padding: 20px 20px 0;
  overflow: scroll;
  display: block;
  box-sizing: border-box;
  height: 100%;

  &__group {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    color: $base_color;
  
    &__group-name {
      font-size: em(15);
      padding-bottom: 5px;
    }

    &__latest-message {
      font-size: em(11);
    }
  }
}


.chat-main {
  width: calc(100vw - 300px);
  float: left;
  box-sizing: border-box;
}

.main-header {
  background-color: $base_color;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eee;

    &__current-group {
      color: #333333;
      margin-top: 35px;
    
      &__name {
        font-size: em(20);
        font-weight: normal;
      }
      &__member-list {
        display: flex;
        margin-top: 15px;
        font-size: em(12);
        color: #999999;
        list-style: none;

        &__member {
          display: list-item;
        }
      }
    }  
    &__edit-btn {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px $pure_blue;
      color: $pure_blue;
      cursor: pointer;
    }
}

.messages {
  height: calc(100vh - 190px);
  padding: 46px 40px;
  background-color: #fafafa;
  overflow: scroll;
}

.message {
  padding-bottom: 40px;

  &__upper-info {
    display: flex;
    margin-bottom: 10px;

    &__user {
      color: $greyish;
      font-size: em(16);
      font-weight: bold;
    }

    &__date {
      color: #999999;
      font-size: em(12);
      margin-left: 10px;
    }

  }
  &__text {
    color: $greyish;
    font-size: em(14);
    margin-bottom: 10px;
  }
}

.form {
  height: 90px;
  padding: 20px 40px;
  background-color: #ddd;
  box-sizing: border-box;
  display: flex;
  margin: 0;

  .new-message {
    display: flex;
    height: 50px;
    width: 100%;

    &__input-box {
      background-color: $base_color;
      position: relative;
      width: 100%;
      color: $greyish;

      &__text {
        height: 50px;
        position: relative;
        width: 100%;
        color: $greyish;
        border-style: none;
        padding-left: 10px;
      }
      .image-label {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        box-sizing: border-box;
        content: '\f013';
        font-family: "FontAwesome 5 Free";
        font-weight: 900;
        margin-right: 0;
      }
    }
  }
  .submit-btn {
    width: 100px;
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
    background-color: $pure_blue;
    color: $base_color;
    cursor: pointer;
  }
}


