$base_color: white;
$pure_blue: #38aef0;
$sidecolor: #2f3e51;
$greyish: #434a54;
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}
